 html{
  height:100%;
  overflow: hidden;
 }
 body{
    color: white;
    margin:0;
    padding: 0;
    perspective: 1px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    transform-style: preserve-3d;
}
 iframe{
  padding-left: 50px;
  padding-top: 100px;
 }
 body{
  background-color: #CFCDCF;
}
 
 ul {
    align-items: right;
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    margin-right: 20px;
}

.logobutton{
  padding: 0;
  margin: 0;
  border: 0;
}

.buttons{
  display: flex;
    background-repeat:no-repeat;
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    padding-top: 0px;
    color: white;
    margin-left: 300px;
    align-items: right;
    margin-top: 0px;
    border-top: 0;

}

.menubutton{
  margin: 30px;
  margin-top: 0px;
  align-content: right;
  color: white;
}
 a:link    {
  text-decoration:none;
  font-weight:bold;
  color:black;
  } 
  a:visited {
  text-decoration:none;
  font-weight:bold;
  color:black;
  } 
  a:hover   {
  text-decoration:none;
  font-weight:bold;
  font-size: 33px;
  color:black;
  } 
  header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
  }
  header h1{
    margin-top: -200px;
  }
  header, header:before{
    background: 50% 50%;
  }
  header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("contactus.jpg");
    background-size:cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
  }
header *{
  text-align: center;
  margin: 0;
  padding: 1em 0;
}
.container {
  display: flex;
  justify-content:space-between;
  padding-top: 700px;
  height: 200px;
  width: 280px;
  margin-right: 0px;
  margin-left: 50px;
  }
  .album{
    padding-left: 50px;
  }
   .album1{
    padding-left: 55px;
  }
   .album2{
    padding-left: 55px;
  }
