html{
  height:100%;
  overflow: hidden;
 }
 body{
    color: white;
    margin:0px;
    padding: 0px;
    border: 0px;
    perspective: 1px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    transform-style: preserve-3d;
}
 
 ul {
    align-items: right;
    color: white;
    text-decoration: none;
    text-decoration-color: black;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    margin-right: 20px;
}


.item img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.item:hover img {
  opacity: .5;
}
.logobutton{
  padding: 0;
  margin: 0;
  border: 0;
}
.buttons{
  display: flex;
    background-repeat:no-repeat;
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    padding-top: 0px;
    color: white;
    margin-left: 300px;
    align-items: right;
    margin-top: 0px;
    border-top: 0;

}
.menubutton{
  margin: 30px;
  margin-top: 0px;
  align-content: right;
  color: black;
}
 a:link    {
  text-decoration:none;
  font-weight:bold;
  color:black;
  } 
  a:visited {
  text-decoration:none;
  font-weight:bold;
  color:black;
  } 
  a:hover   {
  text-decoration:none;
  font-weight:bold;
  font-size: 33px;
  color:black;
  } 
  header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
  }
  header h1{
    margin-top: -200px;
  }
  header, header:before{
    background: 50% 50%;
  }
  header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("nbhd16.jpg");
    background-size:cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
  }
header *{
  text-align: center;
  margin: 0;
  padding: 1em 0;
}
.container {
  padding-top: 700px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 20rem;
}
span{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
span:hover img {
  opacity: .5;
}

